*name - voonna saikiran*

assignment -1

if we want to check directly like (list_1 > list_2) then we need to give only one datatype values like string,integers

In [1]:
list_1 = [1,2,3,4,5]
list_2 = [3,4,5,6,7,8,6]
print(list_1 > list_2)
print(list_1 < list_2)
print(list_1 == list_2)
print(list_1 != list_2)
print(list_1 <= list_2)
print(list_1 >= list_2)

False
True
False
True
True
False

In [2]:
tuple_1 = ("sai","is","a","good","boy")
tuple_2 = ("he","plays","cricket",5,8)
x = len(tuple_1)
y = len(tuple_2)
print(x>y)
print(x<y)
print(x<=y)
print(x>=y)
print(x==y)
print(x!=y)

False
False
True
True
True
False

In [3]:
set_1 = {5,6,7,8,9,"sai","kiran"}
set_2 = {5,6,7,8,9,10,12}
x = len(set_1)
y = len(set_2)
print(set_1 == set_2)
print(set_1 > set_2)
print(set_1 < set_2)
print(set_1 >= set_2)
print(set_1 <= set_2)
print(set_1 != set_2)

False
False
False
False
False
True

from above 2 code sets u can easily understand by observing the outputs

In [4]:
dict_1 ={"sai":18,"dilli":19}
dict_2 ={"kumar":20,"revanth":17}
x = len(dict_1)
y = len(dict_2)
print(x == y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x != y)

True
False
False
True
True
False

assignment_2

In [5]:
num_1 = int(input("enter the 1st number : "))
num_2 = int(input("enter the 2nd number : "))
operator = input("enter what you want to do with the 2 numbers : ")
if(operator == '+') :
  print("the sum of 2 numbers is : ",num_1 + num_2)
elif(operator == '-') :
  print("the subtraction of 2 numbers is : ",num_1 - num_2)
elif(operator == '*'):
  print("the multiplication of 2 numbers is :",num_1 * num_2)
elif(operator == '/'):
  print("the division of 2 numbers is : ",num_1 / num_2)
else:
  print("please give valid operator like + ,-,*,/")

enter the 1st number : 10
enter the 2nd number : 20
enter what you want to do with the 2 numbers : *
the multiplication of 2 numbers is : 200

assignment_3


"r" is for only reading the file .where as "r+" is for reading and writing the file.

In [8]:
f = open("myfile.txt","r")
print(f.read())
f.close()

voonna saikiran is a good boy
he is 18 year old
he loves to play cricket

In [10]:
f = open("myfile.txt","r+")
print(f.write("his friends are dilli and revanth"))
f.close()

33

now you can see that by using "r+".the data can change in the below code

In [11]:
f = open("myfile.txt","r")
print(f.read())
f.close()

his friends are dilli and revanth is 18 year old
he loves to play cricket

*"w" is for only open a file for writing only.where as "w+" is for Open a file for both writing and reading*

In [12]:
f = open("myfile.txt","w+")
print(f.write("we are friends for 7 years"))
f.close()

26

In [13]:
f = open("myfile.txt","w+")
print(f.read())
f.close()

In [14]:
f = open("myfile.txt","a")
print(f.write(" and we will continue as life long"))
f.close()

34

In [15]:
f = open("myfile.txt","a+")
print(f.read())
f.close()

assignment 4

In [16]:
prime_numbers = [11, 3, 7, 5, 2]
prime_numbers.sort()
print(prime_numbers)

[2, 3, 5, 7, 11]

In [19]:
prime_numbers = [11, 3, 7, 5, 2]
prime_numbers.sort(reverse=True)
print(prime_numbers)

[11, 7, 5, 3, 2]